/* AppComponent's private CSS styles */
h1 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    background-color: rgb(175, 175, 175);
    border-radius: 4px;
  }
  nav a:visited, a:link {
    color: #33322a;
  }
  nav a:hover {
    color: #039be5;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }

  #cabecalho{
    display: flex;
    flex-direction: column;
    
  }

  .center{
    align-self: center;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #titulo{
    font-size: 5em;
    color: rgb(218, 69, 64);
  }