:root {
  font-size: 62.5%;

  --color-font: #959595;
  --color-primary: #202020;
  --color-secondary: #D4145A;
  --color-title: #FFF;
}

* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
  list-style: none;
}

body {
  color: var(--color-font);
  background: #f0f0f5;
}

body, input, button, textarea {
  font: 400 1.6rem Nunito, sans-serif;
}

input, textarea {
  border: 2px solid var(--color-font);
  border-radius: 4px;
  background: none;
  
  color: var(--color-font);
}

a {
  text-decoration: none;
}

body{

  
    width: 90%;
    max-width: 1200px;

    margin: 0 auto;
}






/* Application-wide Styles */
h1 {
    
    font-size: 250%;
  }
  
  input[type="text"], button {
    color: #333;
    
  }
  