<h2>Meus Heróis</h2>
<div class="flex">
  
  <div class="center">
  <label>Nome do herói:
    <input id="name-box" #heroName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(heroName.value); heroName.value=''">
    Adicionar novo herói
  </button>
</div>

<ul class="heroes center">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
    <button class="delete" title="delete hero"
      (click)="delete(hero)">x</button>
  </li>
</ul>
</div>
